/* TABLE OF CONTENTS
  CH00 - Variable Declarations
  CH01 - Resets
  CH02 - Typography
  CH03 - Page Structure
  CH04 - Header & Navigation
  CH05 - Content and Media
  CH06 - Footer
  CH07 - Miscellaneous
*/

// CH00 - Variable Declarations
//-----------------------------------------------
$breakpoint-sm: 35.5em;
$breakpoint-md: 48em;
$breakpoint-lg: 64em;
$breakpoint-xl: 80em;

$primary-color: #3FB0AC;
$secondary-color: #FFA45B;
$back-color: #191E28;
$back-color-secondary: rgba(0,0,0,0.8);

$text-color-light: #E6E6E6;
$text-color-dark: black;

// CH01 - Resets
//-----------------------------------------------
.pure-g {
  @media (min-width: $breakpoint-md) {
    margin-left: 1em;
    margin-right: 1em;
  }
}

.pure-button {
  border: 1px solid $text-color-light;
  transition-duration: 0.2s;

  &:hover {
    background-color: $back-color-secondary;
    color: $primary-color;
    border: 1px solid $primary-color;
  }
}

// CH02 - Typography
//-----------------------------------------------
body, h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

p {
  font-size: 18px;
}

code {
  background-color: $back-color;
  color: $secondary-color;
  padding: 0 0.3em;
}

#about {
  text-align: left;
}

#content {
  h1, h2, h3, h4, h5, h6, p {
    color: $text-color-light;
    text-shadow: 1px 1px 2px $text-color-dark;
  }
}

.button-large {
  font-size: 110%;
  font-weight: bold;
}

.section-header {
  font-size: 4em;
}

.hero-container-text {
  color: $text-color-light;
  text-shadow: 1px 1px 2px black;

  h1 {
    font-size: 6em;
    @media (max-width: $breakpoint-md) { font-size: 4em; }
    @media (max-width: $breakpoint-sm) { font-size: 3em; }
  }

  h2 {
    font-size: 3em;
    @media (max-width: $breakpoint-md) { font-size: 2em; }
    @media (max-width: $breakpoint-sm) { font-size: 1.5em; }
  }
}

.card-link {
  text-decoration: none;
  color: $text-color-dark;
}

// CH03 - Page Structure
//-----------------------------------------------

// CH04 - Header & Navigation
//-----------------------------------------------
.hero-container {
  width: 100%;
  height: 35em;

  background-color: $back-color;
  background-image: url('../img/hero-image.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  display: flex;
  align-items: center;
  justify-content: center;
}

// CH05 - Content and Media
//-----------------------------------------------
main {
  background-color: #ECECEA;
  background-image: url('../img/background.png');
  background-repeat: repeat;

  .section-header {
    margin-bottom: 0.5em;
    margin-left: 2%;
    margin-right: 2%;
    border-bottom: 2px solid $back-color;
  }
}

#contact {
  min-height: 20em;
  background-color: $back-color;

}

.section-header {
  margin-top: 0;
  padding-top: 0.67em;
}

.portfolio-section {
  margin-bottom: 3em;
}

.contact-links {
  display: flex;
  justify-content: center;
  @media (max-width: $breakpoint-sm) { flex-direction: column; }

  padding-bottom: 1em;

  .pure-button {
    margin-right: 0.5em;
    :last-child { margin-right: 0 }

    @media (max-width: $breakpoint-sm) {
      min-width: 50%;
      margin: 0.5em auto;
    }
  }
}

.pure-button-dark {
  background-color: $back-color-secondary;
  color: $primary-color;
  border: 1px solid $back-color-secondary;

  &:hover {
    border: 1px solid $text-color-light;
    background-color: $primary-color;
    color: $text-color-dark;
  }
}

.card {
  background-color: $back-color;
  color: $text-color-light;
  height: 28em;
  padding: 0.5em;

  margin: 0.5em 0;

  display: flex;
  flex-direction: row-reverse;

  @media (max-width: $breakpoint-sm) {
    flex-direction: column;
  }
  @media (min-width: $breakpoint-md) {
    border-radius: 4px;
    flex-direction: column;
    margin: 0.5em;
  }

}

.card-image {
  height: 100%;
  width: 50%;

  @media (max-width: $breakpoint-sm), (min-width: $breakpoint-md) {
    width: 100%;
    height: 50%;

    padding-bottom: 4%;
    border-bottom: 1px solid $primary-color;
  }

  img {
    width: 100%;
    height: 100%;
  }
}

.card-text {
  height: 100%;
  width: 48%;

  @media (max-width: $breakpoint-sm), (min-width: $breakpoint-md) {
    width: 100%;
    height: 50%;
  }
}

// CH06 - Footer
//-----------------------------------------------
footer {
  background-color: black;
  color: $text-color-light;
  padding: 1em 0;

  display: flex;
  justify-content: center;
}

// CH07 - Miscellaneous
//-----------------------------------------------
