/* TABLE OF CONTENTS
  CH00 - Variable Declarations
  CH01 - Resets
  CH02 - Typography
  CH03 - Page Structure
  CH04 - Header & Navigation
  CH05 - Content and Media
  CH06 - Footer
  CH07 - Miscellaneous
*/

// CH00 - Variable Declarations
//-----------------------------------------------
$breakpoint-sm: 35.5em;
$breakpoint-md: 48em;
$breakpoint-lg: 64em;
$breakpoint-xl: 80em;

$space-color: #01304A;
$primary-color: #3FB0AC;
$secondary-color: #FFA45B;
$back-color: #191E28;
$back-color-secondary: rgba(0,0,0,0.8);

$text-color-light: #E6E6E6;
$text-color-dark: black;

// CH01 - Resets
//-----------------------------------------------

// CH02 - Typography
//-----------------------------------------------
body {
  font-family: 'Alegreya', serif;
  color: $text-color-light;
}


// CH03 - Page Structure
//-----------------------------------------------
main {
  min-height: 800px;
}

.content {
  background-color: #111;
  border-top: 1px solid $primary-color;
  border-bottom: 1px solid $primary-color;

  padding: 20px 5%;
  width: 90%;
}

.about-me-wrapper {
  display: flex;
  flex-direction: row;

  @media (max-width: 850px) {
    flex-direction: column;
  }

  .about-me-text {
    padding-left: 20px;
    padding-top: 20px;
  }
}

.skills-wrapper {
  display: flex;
  flex-direction: row;

  font-size: 20px;

  max-width: 100%;
  overflow: hidden;

  dl {

    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;

    grid-column-gap: 5px;
    grid-row-gap: 10px;

    dt {
      font-weight: bold;
      text-align: right;
    }
    dd {
      font-family: 'Press Start 2P', 'Alegreya', serif;
      font-size: 1.3em;
      line-height: 1.3em;

      .skill:hover {
        animation: neon 1.5s ease-in-out infinite alternate;
        cursor: pointer;
      }
    }
  }
}

// CH04 - Header & Navigation
//-----------------------------------------------
.hero-wrapper {
  height: 400px;
  width: 97%;
  overflow: hidden;

  position: relative;
  display: flex;
  align-items: center;

  padding-left: 3%;

  background: url('../img/moon_blue (Robert Karkowski, Pixabay).png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .hero-text {
    min-width: 30%;
    margin-top: -7rem;

    text-shadow: 1px 1px $space-color;

    .text-header {
      border-bottom: 1px solid white;
      margin-bottom: 0;
      padding-left: 10px;

      font-size: 3em;
    }

    .text-sub {
      margin-top: 10px;
      padding-left: 20px;

      font-size: 1.5em;
    }
  }

  .img-attribution {
    position: absolute;
    font-size: 10px;
    right: 10px;
    bottom: 5px;
    text-align: right;

    a {
      color: $primary-color;
    }
  }

  .star {
    position: absolute;
    border-radius: 50%;
    background-color: rgba(0, 225, 255, 0.8);
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.5),
                0 0 20px rgba(0, 225, 255, 0.8),
                0 0 40px rgba(0, 225, 255, 0.7),
                0 0 80px rgba(0, 225, 255, 0.6);

    height: 7px;
    width: 7px;
    opacity: 0;

    animation: twinkle 5s ease-in-out infinite alternate;

    &:nth-of-type(1) {
      left: 5%;
      top: 11%;
      animation-delay: 0s;
    }
    &:nth-of-type(2) {
      left: 14%;
      top: 5%;
      animation-delay: 1s;
    }
    &:nth-of-type(3) {
      left: 17%;
      top: 60%;
      animation-delay: 2s;
    }
    &:nth-of-type(4) {
      left: 25%;
      top: 70%;
      animation-delay: 3s;
    }
    &:nth-of-type(5) {
      left: 43%;
      top: 92%;
      animation-delay: 4s;
    }
    &:nth-of-type(6) {
      left: 90%;
      top: 68%;
      animation-delay: 5s;
    }

  }
}

// CH05 - Content and Media
//-----------------------------------------------
.portrait {
  width: 300px;
  height: 510px;
  overflow: hidden;

  border-radius: 10px;
  border: 2px solid #DDD;
  box-shadow: 2px 2px 5px 3px #333;

  background-color: #EEE;

  z-index: 5;
  flex-shrink: 0;
}

.img-responsive {
  height: 100%;
  width: 100%;
}

.btn {
  border: none;

  height: 40px;
  min-width: 50px;
  margin: 5px 5px;

  text-decoration: none;
  font-size: 1.3em;

  border-radius: 10px;
  background-color: #444;

  user-select: none;
  transition-property: background-color, color;
  transition-duration: 0.3s;
  flex-shrink: 0;

  &:hover {
    color: $primary-color;
    background-color: #222;
  }

  &:focus {
    outline: none;
  }
}

// CH06 - Footer
//-----------------------------------------------
footer {
  background-color: #111;
  padding: 1em 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  p {
    margin: 0;
  }

  .social-wrapper {
    display: flex;

    a {
      height: 40px;
      width: 40px;
      margin: 5px 5px;

      display: flex;
      align-items: center;
      justify-content: center;

      color: #111;
      text-decoration: none;
      font-size: 1.3em;

      border-radius: 50%;
      background-color: #444;

      user-select: none;
      transition-property: background-color, color;
      transition-duration: 0.3s;

      &:hover {
        color: $primary-color;
        background-color: #222;
      }
    }
  }
}

// CH07 - Miscellaneous
//-----------------------------------------------

@keyframes twinkle {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes neon {
  from {
    text-shadow:  0 0 1px #fff,
                  0 0 2px #fff,
                  0 0 3px #fff,
                  0 0 4px $primary-color,
                  0 0 7px $primary-color,
                  0 0 8px $primary-color,
                  0 0 10px $primary-color,
                  0 0 15px $primary-color;
  }
  to {
    text-shadow:  0 0 0.5px #fff,
                  0 0 1px #fff,
                  0 0 1.5px #fff,
                  0 0 2px $primary-color,
                  0 0 3px $primary-color,
                  0 0 4px $primary-color,
                  0 0 5px $primary-color,
                  0 0 7px $primary-color;
  }
}

.logo-upwork {
  font-family: sans-serif;
  font-weight: bold;
}

.highlight {
  color: $primary-color;
}

.slide-fade-leave-active {
  transition: all 0.5s linear;
}
.slide-fade-leave {
  opacity: 1;
  transform: translateX(0);
}
.slide-fade-leave-to {
  opacity: 0;
  transform: translateX(-50px);
}

.slide-fade-enter-active {
  transition: all 2s ease-out;
}
.slide-fade-enter {
  opacity: 0;
  transform: translateX(2000px);
}
.slide-fade-enter-to {
  opacity: 1;
  transform: translateX(0);
}