/* TABLE OF CONTENTS
  CH00 - Variable Declarations
  CH01 - Resets
  CH02 - Typography
  CH03 - Page Structure
  CH04 - Header & Navigation
  CH05 - Content and Media
  CH06 - Footer
  CH07 - Miscellaneous
*/

// CH00 - Variable Declarations
//-----------------------------------------------
$breakpoint-sm: 35.5em;
$breakpoint-md: 48em;
$breakpoint-lg: 64em;
$breakpoint-xl: 80em;

$space-color: #0E1C2A;
$primary-color: #3FB0AC;
$secondary-color: #FFA45B;
$back-color: #111;
$back-color-secondary: rgba(0,0,0,0.8);

$text-color-light: #E6E6E6;
$text-color-dark: #222;

// CH01 - Resets
//-----------------------------------------------
* {
  box-sizing: border-box;
}

// CH02 - Typography
//-----------------------------------------------
body {
  background-color: $back-color;
  font-family: 'Merriweather', serif;
  color: $text-color-light;
}

pre {
  font-family: 'Merriweather', serif;
  white-space: pre-line;
}

// CH03 - Page Structure
//-----------------------------------------------
main {
  min-height: 800px;
}

.content {
  background-color: $back-color;
  border-bottom: 1px solid $primary-color;

  position: relative;
  padding: 20px 5%;
  width: 100%;

  &:before {
    content: '';
    background-color: $primary-color;

    height: 3px;
    position: absolute;
    top: 3px;
    left: 0;
    right: 0;
    z-index: 10;

    animation: neonBorder 2s ease-in-out infinite alternate;
  }
}

.about-me-wrapper {
  display: flex;
  flex-direction: row;

  @media (max-width: 850px) {
    flex-direction: column;
  }

  .about-me-text {
    padding-left: 20px;
    padding-top: 20px;
  }
}

.skills-wrapper {
  display: flex;
  flex-direction: row;

  font-size: 20px;

  dl {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;

    grid-column-gap: 5px;
    grid-row-gap: 10px;

    @media (max-width: 610px) {
      grid-template-columns: 1fr;
    }

    .row-divider {
      grid-column: 1 / -1;
      background-color: $secondary-color;
      margin: 0 auto;
      width: 30%;
      height: 1px;
    }

    dt {
      font-size: 1.3em;
      text-align: center;

      display: flex;
      justify-content: center;
      align-items: center;

      @media (max-width: 610px) {
        text-align: center;
        font-size: 0.9em;
      }
    }
    dd {
      font-family: 'Press Start 2P', 'Merriweather', serif;
      font-size: 1.3em;
      line-height: 1.3em;

      display: flex;
      flex-wrap: wrap;

      @media (max-width: 610px) {
        margin-left: 0;
        flex-direction: column;
        align-items: center;

        font-size: 0.8em;
        line-height: 1.5em;
      }

      .skill {
        cursor: pointer;
        white-space: nowrap;

        &.neon {
          animation: neonAuto 1.5s ease-in-out infinite alternate;
        }

        &:hover {
          animation: neonHover 1.5s ease-in-out infinite alternate;
        }
      }
    }
  }
}

// CH04 - Header & Navigation
//-----------------------------------------------
.hero-wrapper {
  height: 600px;
  width: 100%;
  padding-left: 3%;
  overflow: hidden;

  position: relative;
  display: flex;
  align-items: center;

  .hero-text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    min-width: 40%;
    margin-top: -15em;

    color: $text-color-light;
    text-shadow: 1px 1px $space-color;

    z-index: 3;

    .text-header {
      margin-bottom: 0;
      padding-left: 10px;

      font-size: 4em;
    }

    .text-sub {
      margin-top: 10px;
      padding-left: 20px;

      font-size: 2em;
    }
  }

  .hero-background-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    div:nth-child(1) {
      background-color: #002322;
      box-shadow: 0 0 40px 5px $space-color;

      position: absolute;
      z-index: 2;
      top: 0;
      bottom: 0;
      left: -100%;
      right: 55%;

      transform: skewX(-20deg);
    }

    div:nth-child(2) {
      background-image: url('../img/background-moon.jpg');
      background-position: center;
      background-size: cover;
      opacity: 0.8;

      position: absolute;
      top: 0;
      bottom: 0;
      left: 10%;
      right: 0;

      z-index: 1;
    }
  }

  .star {
    position: absolute;
    border-radius: 50%;
    background-color: rgba(0, 225, 255, 0.8);
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.5),
                0 0 20px rgba(0, 225, 255, 0.8),
                0 0 40px rgba(0, 225, 255, 0.7),
                0 0 80px rgba(0, 225, 255, 0.6);

    height: 7px;
    width: 7px;
    opacity: 0;

    animation: twinkle 5s ease-in-out infinite alternate;

    z-index: 2;

    &:nth-of-type(1) {
      left: 5%;
      top: 11%;
      animation-delay: 0s;
    }
    &:nth-of-type(2) {
      left: 14%;
      top: 5%;
      animation-delay: 1s;
    }
    &:nth-of-type(3) {
      left: 17%;
      top: 60%;
      animation-delay: 2s;
    }
    &:nth-of-type(4) {
      left: 25%;
      top: 70%;
      animation-delay: 3s;
    }
    &:nth-of-type(5) {
      left: 43%;
      top: 92%;
      animation-delay: 4s;
    }
    &:nth-of-type(6) {
      left: 90%;
      top: 68%;
      animation-delay: 5s;
    }

  }
}

// CH05 - Content and Media
//-----------------------------------------------
.portfolio-wrapper {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;

  > div {
    padding: 1rem 0;
  }

  > hr {
    border-color: $primary-color;
    margin: 0.5em 0;
    width: 60%;

    &:nth-of-type(2n + 1) { align-self: flex-start; }
    &:nth-of-type(2n) { align-self: flex-end; }
  }


  h2 {
    margin: 0.5em 0;
  }
}

.projects-client {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;

  grid-column-gap: 10px;
  grid-row-gap: 40px;

  margin: auto;
  width: 80%;

  @media (max-width: 850px) {
    width: 100%;
  }
}

.projects-github-recent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  @media (max-width: 850px) {
    grid-template-columns: 1fr;
  }
}

.portrait {
  width: 300px;
  height: 510px;
  overflow: hidden;

  border-radius: 10px;
  border: 2px solid #DDD;
  box-shadow: 2px 2px 5px 3px #333;

  background-color: #EEE;

  z-index: 5;
  flex-shrink: 0;
}

.card.style1 {
  background: #EEE;
  color: $text-color-dark;

  display: flex;
  flex-direction: column;

  border: 1px solid #BBB;
  border-radius: 3px;
  padding: 10px;

  min-height: 100px;

  .card-header {
    border-bottom: 1px solid $primary-color;
    margin-bottom: 10px;

    a {
      text-decoration: none;
      color: $text-color-dark;

      &:hover {
        color: $primary-color;
      }
    }

    .card-title {
      display: inline-block;
      margin: 0;
    }
  }

  .card-footer {
    display: flex;
    flex-grow: 1;
    align-items: flex-end;
    justify-content: space-between;

    margin-top: 10px;
    opacity: 0.8;

    span {
      margin-right: 5px;
      user-select: none;
    }
  }

}

.card.style2 {
  background-color: #EEE;
  color: $text-color-dark;

  display: flex;
  flex-direction: row;

  padding: 10px 1rem;

  .card-visual {
    display: flex;
    flex-direction: column;

    padding: 0 1rem;

    .card-image {
      align-self: center;

      margin-top: -20px;

      img {
        box-shadow: 0 0 4px 2px #444;
        max-width: 400px;
        min-width: 200px;
      }
    }
  }

  .card-content {
    flex-grow: 1;
    flex-shrink: 0;
    width: 60%;

    .card-header {
      border-bottom: 1px solid $primary-color;
      margin-bottom: 10px;

      .card-title {
        display: inline;
        margin: 0;
      }
    }

    .card-body {
      white-space: pre-line;
    }
  }

  @media (max-width: 850px) {
    flex-direction: column;

    .card-visual .card-image {
      align-self: flex-start;
    }

    .card-content {
      width: 100%;
    }
  }
}

.card {

  .card-header {
    a {
      text-decoration: none;
      color: $text-color-dark;

      &:hover {
        color: $primary-color;
      }
    }
  }

  .card-footer, .card-visual {
    .card-links {
      color: #444;

      display: flex;
      align-items: flex-end;

      min-height: 30px;
      padding-left: 1rem;

      .unavailable {
        color: #DC3545;
      }

      span {
        margin-right: 15px;
      }

      a {
        color: #444;
        text-decoration: none;

        &:hover {
          color: $primary-color;
        }
      }
    }
  }
}

.img-responsive {
  height: 100%;
  width: 100%;
}

.btn {
  border: 2px solid $primary-color;

  height: 40px;
  min-width: 50px;
  margin: 5px 5px;

  text-decoration: none;
  font-size: 1.3em;

  border-radius: 10px;
  background-color: #444;

  user-select: none;
  transition-property: background-color, color;
  transition-duration: 0.3s;
  flex-shrink: 0;

  &:hover {
    color: $primary-color;
    background-color: #222;
  }

  &:focus {
    outline: none;
  }
}

// CH06 - Footer
//-----------------------------------------------
footer {
  background-color: $back-color;
  padding: 1em 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  p {
    margin: 0;
  }

  .social-wrapper {
    display: flex;

    a {
      height: 40px;
      width: 40px;
      margin: 5px 5px;

      display: flex;
      align-items: center;
      justify-content: center;

      color: $back-color;
      text-decoration: none;
      font-size: 1.3em;

      border-radius: 50%;
      background-color: #444;

      user-select: none;
      transition-property: background-color, color;
      transition-duration: 0.3s;

      &:hover {
        color: $primary-color;
        background-color: #222;
      }
    }
  }

  .img-attribution {
    align-self: flex-end;
    padding: 0 10px;

    font-size: 12px;
    a {
      color: $primary-color;
    }
  }
}

// CH07 - Miscellaneous
//-----------------------------------------------

@keyframes twinkle {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes neonAuto {
  from {
    text-shadow:  0 0 1px #fff,
                  0 0 2px #fff,
                  0 0 3px #fff,
                  0 0 4px $primary-color,
                  0 0 7px $primary-color,
                  0 0 8px $primary-color,
                  0 0 10px $primary-color,
                  0 0 15px $primary-color;
  }
  to {
    text-shadow:  0 0 0.5px #fff,
                  0 0 1px #fff,
                  0 0 1.5px #fff,
                  0 0 2px $primary-color,
                  0 0 3px $primary-color,
                  0 0 4px $primary-color,
                  0 0 5px $primary-color,
                  0 0 7px $primary-color;
  }
}

@keyframes neonHover {
  from {
    text-shadow:  0 0 1px #fff,
                  0 0 2px #fff,
                  0 0 3px #fff,
                  0 0 4px $secondary-color,
                  0 0 7px $secondary-color,
                  0 0 8px $secondary-color,
                  0 0 10px $secondary-color,
                  0 0 15px $secondary-color;
  }
  to {
    text-shadow:  0 0 0.5px #fff,
                  0 0 1px #fff,
                  0 0 1.5px #fff,
                  0 0 2px $secondary-color,
                  0 0 3px $secondary-color,
                  0 0 4px $secondary-color,
                  0 0 5px $secondary-color,
                  0 0 7px $secondary-color;
  }
}

@keyframes neonBorder {
  from {
    box-shadow:  0 0 1px #fff,
                  0 0 2px #fff,
                  0 0 3px #fff,
                  0 0 4px $primary-color,
                  0 0 7px $primary-color,
                  0 0 8px $primary-color,
                  0 0 10px $primary-color,
                  0 0 15px $primary-color;
  }
  to {
    box-shadow:  0 0 0.5px #fff,
                  0 0 1px #fff,
                  0 0 1.5px #fff,
                  0 0 2px $primary-color,
                  0 0 3px $primary-color,
                  0 0 4px $primary-color,
                  0 0 5px $primary-color,
                  0 0 7px $primary-color;
  }
}

.logo-upwork {
  font-family: sans-serif;
  font-weight: bold;
}

.highlight {
  color: $primary-color;
}

.slide-fade-leave-active {
  transition: all 0.5s linear;
}
.slide-fade-leave {
  opacity: 1;
  transform: translateX(0);
}
.slide-fade-leave-to {
  opacity: 0;
  transform: translateX(-50px);
}

.slide-fade-enter-active {
  transition: all 2s ease-out;
}
.slide-fade-enter {
  opacity: 0;
  transform: translateX(2000px);
}
.slide-fade-enter-to {
  opacity: 1;
  transform: translateX(0);
}